<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="631465aa-0f8b-4531-8cd4-20f8c7f871d2" Alias="commandCollection" Level="1">
  <Info>
    <Name>Command Collection</Name>
    <Icon>icon-inbox color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9e8e62bd-2dfe-47d2-a849-687a0a388018" SortOrder="0">customCommand</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>